<!-- Launchfile for nusimulation-->
<launch>
    <!-- Arguments -->
    <arg name='color' default='red' doc="The robot's color; the options red is only supported for now"/> 
    <arg name='use_jsp' default='false' doc="Set true for the node to publish joint states"/>
    <arg name='use_rviz' default='true' doc="Set true to display nusim rviz"/>
    <arg name="config_file" default="basic_world.yaml" doc="Configuration file(.yaml) for simulation"/>
    <!-- Load params -->
    <rosparam command="load" file="$(find nusim)/config/$(arg config_file)"/>
    <!-- Include files -->
    <include file="$(find nuturtle_description)/launch/load.launch">
        <arg name='use_rviz' value='false'/>
        <arg name='use_jsp' value='$(arg use_jsp)'/>
        <arg name='color' value='$(arg color)'/>
    </include>

    <!-- Load Simulator node-->
    <node pkg="nusim" type="nusim" name="nusim"/>

    <!-- Open Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find nusim)/config/nusim.rviz" if="$(arg use_rviz)"/>
</launch>
