<!-- Launchfile to start robot motion-->
<launch>
    <!-- Arguments -->
    <arg name="cmd_src" default="none" doc="The source of the cmd_vel command"/>
    <arg name="robot" default="nusim" doc="Whether the robot is running in simulation or real world"/>
    <arg name="use_rviz" default="true" doc="Set true to display rviz"/>

    <!-- Parse cmd_src -->
    <group if="$(eval cmd_src == 'circle')">
        <node name="circle" pkg="nuturtle_control" type="circle"/>
    </group>
    
    <group if="$(eval cmd_src == 'teleop')">
        <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
  </node>
    </group>

    <!--Nodes-->
    <node pkg="nuturtle_control" type="odometry" name="odometry"/>
    <node pkg="nuturtle_control" type="turtle_interface" name="turtle_interface"/>
    <!--Static Publisher-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_odom_broadcaster" 
            args="0 0 0 0 0 0 world odom"/>
    
    <!-- Parse robot -->
    <group if="$(eval robot == 'nusim')">
        <!-- Nusim -->
        <rosparam command="load" file="$(find nusim)/config/basic_world.yaml"/>
        <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml"/>
        <!-- remap nusim topics-->
        <remap from="red/sensor_data" to="sensor_data"/>
        <remap from="red/wheel_cmd" to="wheel_cmd"/>
        <param name="nusim/red_space" type="bool" value="false"/>
        <node pkg="nusim" type="nusim" name="nusim"/>
        
        <!--Params for odometry-->
        <param name="body_id" value="blue-base_footprint"/>
        <param name="wheel_left" value="blue-wheel_left_joint"/>
        <param name="wheel_right" value="blue-wheel_right_joint"/>
        <param name="odom_id" value="odom"/>
        
        <!--Robots-->
        <param name="red/robot_description" 
            command="xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro color:='red'"/>
        <param name="robot_description" 
            command="xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro color:='blue'"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns='red'/>
        <node pkg="joint_state_publisher" type="joint_state_publisher" 
            name="joint_state_publisher" ns="red"/>
    </group>

    <group if="$(eval robot == 'localhost')">
        <!-- Nusim -->
        <rosparam command="load" file="$(find nusim)/config/basic_world.yaml"/>
        <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml"/>
        
        <!--Params for odometry-->
        <param name="body_id" value="blue-base_footprint"/>
        <param name="wheel_left" value="blue-wheel_left_joint"/>
        <param name="wheel_right" value="blue-wheel_right_joint"/>
        <param name="odom_id" value="odom"/>
        
        <!--Robots-->
        <param name="robot_description" 
            command="xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro color:='blue'"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    </group>



    <!-- Open Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" required="true" if="$(arg use_rviz)"
        args="-d $(find nuturtle_control)/config/odom.rviz"/>

</launch>